# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
coverage.xml
.ruff_cache

debug/[0-9]*
debug/sync

# Home Assistant configuration
config/*
!config/configuration.yaml
core
.venv